---
import Post from "./Post.astro";
import { strapiClient } from "../api/client";

const { data, error } = await strapiClient.GET("/posts", {
	params: { query: { populate: "Image" } },
});
---

<main>
	{error != null && <p>oh noo are you connected pal?</p>}
	{
		data?.data != null &&
			data?.data?.map((post) => (
				<Post
					description={post.Description!}
					date={post.Date!}
					url={post.Image!.url}
					alt={post.Image!.alternativeText!}
				/>
			))
	}
</main>

<style>
	main {
		font-family:
			Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
			sans-serif;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 16px;
		align-items: center;
		padding: 0 16px;
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
	}
</style>
