<footer>
    <p>2025</p> 
    <p>this is a cookie free space</p>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 3rem;
    }
</style>