---
import { Image } from "astro:assets";

type Props = {
    description: string;
    date: string;
    url: string;
    alt: string;
};

const { description, date, url, alt } = Astro.props;
---

<article>
    <Image
        src={import.meta.env.STRAPI_URL + `${url}`}
        alt={alt}
        inferSize
        class="full-width"
    />
    <div>
        <p>{description}</p>
        <p>{date}</p>
    </div>
</article>

<style>
    article {
        width: 100%;
        max-width: 820px;
    }
    .full-width {
        width: 100%;
        height: auto;
        display: block;
    }
</style>
