<header>
    <p>garden feed</p> 
    <p>seeds</p>
</header>

<style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 3rem;
    }
</style>