<article>
    <img />
    <div>
        <p>lorem ipsum dolor sit amet</p>
        <p>02/11/2025</p>
    </div>
</article>

<style>
    article {
        width: 100%;
        background-color: antiquewhite;
    }
</style>